body {
  font-family: Arial, sans-serif;
  background-image: url(images/FadilVokrri.jpg);
  background-size: cover;
  margin: 0;
  padding: 20px;
}

.container {
  text-align: center;
  color: white; /* Changed text color for contrast */
}

.player-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.player {
  width: 120px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
}

.player:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  margin: 10% auto; /* Reduced margin */
  padding: 15px; /* Adjusted padding */
  width: 80%; /* Increased width for better visibility */
  max-width: 400px; /* Maximum width */
  border-radius: 8px; /* Added rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Added shadow */
}

.player-image {
  width: 80px; /* Set smaller width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 10px; /* Space below the image */
}

.modal-details {
  color: #fff; /* White text for contrast */
  text-align: center; /* Centered text */
  font-size: 20px; /* Font size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px; /* Slightly smaller */
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.player {
  display: flex;
  align-items: center; /* Align items vertically */
}

.player img {
  margin-right: 10px; /* Space between image and icon */
}

.player i {
  color: red; /* Change icon color if desired */
  font-size: 20px; /* Adjust icon size */
}
